body {
font-size: 17px;
line-height: normal;
font-weight: normal;
font-family: "Cuprum";
color: black;
}
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("fonts/symbols-technomart.woff") format("woff"),
       url("fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */

.clearfix {
content: "";
display: table;
clear: both;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.page-header {
  margin-top: 0;
  padding-bottom: 60px;
  background: #4bc1d2; /*f2f6f8*/
}
.header-top {
  margin-bottom: 60px;
  background-color: #293449;
}
.main-logo {
  float: left;
  width: 220px;
}
.search {
  float: left;
  width: 270px;
}
.header-personal {
  float: right;
  width: 450px;
  background: #ffffff; /*для сетки*/
}
.personal {
  display: inline-block;
  margin-right: 0px;
  text-align: right;
  line-height: 43px;
  padding-right: 20px;
  padding-left: 20px;
  background: #ee3643; /*для сетки*/
  text-decoration: none;
}
.header-text {
  float: left;
  width: 252px;
  color: #ee3643;
}
.header-contacts {
  float: left;
  width: 300px;
}
.user-block {
  float: right;
  width: 300px;
}
.main-nav {
  margin-bottom: 85px;
  background-color: #293449
}
.main-nav li {
  display: inline;
  list-style: none;
}
.category-grid {
  margin-top: 60px;
  margin-bottom: 30px;
}
.category {
  display: inline-block;
  width: 300px;
  height: 124px; /*убрать высоту, высота за счет падингов + бокс сайзинг для удобства*/
  margin-right: 20px;
  margin-bottom: 20px;
  padding:
}
.materials {
  position: relative;
  float: left;
  background-color: #f6b22d;
}
.tool {
  float: left;
  background-color: #4aafde;
}
.machine {
  float: left;
  margin-right: 0;
  background-color: #cc79d1;
}
.category-catalog {
  width: 620px;
  height: 267px;
  float: left;
  /*для сетки*/
  background-color: #9e8e7b;
}
.sale50 {
  float: left;
  margin-right: 0;
  background-color: #85d179;
}
.delivery {
  float: right;
  margin-right: 0;
  background-color: #f6b22d;
}
.popular-group {
  margin-bottom: 20px;
  margin-left: 0;
  padding-left: 0;
}
.section-header {
  margin-bottom: 20px;
  /*для сетки*/
  background-color: #ee3643;
  height: 90px;
}
.col-section1 {
  float: left;
  width: 500px;
}
.col-section2 {
  float: right;
  width: 300px;
}
.popular-items {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 0;
  margin-left: -10px;
  margin-right: -10px;
}
.catalog-item-wrap {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
}
.catalog-item {
  position: relative;
  text-align: center;
  border: 1px solid #e5e5e5;
  padding: 20px;
  font-size: 16px;
}
.label-new {
  position: relative;
  overflow: hidden;
}
.label-new:before {
  overflow: hidden;
  position: absolute;
  top: 6px;
  right: -22px;
  z-index: 10;
  width: 83px;
  height: 28px;
  /*
  content: "";
  background: url(img/catalog_new_flag.png); - почему не получится так?
  */
  content: "new";
  text-align: center;
  line-height: 28px;
  color: #ffffff;
  font-size: 14px;
  background: #ee3643;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.catalog-item .button-order {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #ffffff;
  display: none;
}
.button-order .btn-to-basket,
.button-order .btn-to-bookmark {
  font-size: 14px;
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  background-color: #63a63e;
}
.button-order .btn-to-basket {
  box-shadow: inset 0 -3px 0 #367315;
}
.button-order .btn-to-bookmark {
  width: 129px;
  padding: 7px 0;
  color: #63a63e;
  border: 3px solid #63a63e;
  background-color: #ffffff;
}
.catalog-item:hover .button-order {
  display: block;
}
.catalog-item-image {
  max-width: 100%;
  height: auto;
  text-align: center;
}
.catalog-item-image img {
  vertical-align: middle;
}
.title-catalog-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  text-decoration: none;
}
.catalog-item .old-price {
  margin-bottom: 10px;
  font-size: 17px;
  text-decoration: line-through;
  color: #999999;
}
.catalog-item .new-price {
  position: relative;
  width: 80px;
  font-size: 17px;
  margin: 0 auto 20px;
  padding: 10px 30px;
  color: #ffffff;
  border-radius: 3px;
  background: #ee3643;
}
.catalog-item .new-price:after {
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  content: "";
  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}
.logo-item {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 218px;
  height: 143px;
  line-height: 143px;
  text-align: center;
  border: 1px solid #e5e5e5;
}
.logo-item:nth-child(4n) {
  margin-right: 0;
}
.logo-item img {
 vertical-align: middle;
}
/*
.brands-logo {
  margin-left: 0;
  padding-left: 0;
}
.brands-logo li {
  width: 220px;
  height: 145px;
  display: inline-block;
  list-style: none;
  vertical-align: top;
  margin-right: 15px;
  margin-bottom: 15px;
}
.brands-logo li:nth-child(4n) {
  margin-right: 0;
}
.brands {
  margin-bottom: 17px;
}
*/

.servis {
  background-color: #ee3643;
  padding: 65px 0 100px 0;

}
.slider-servis-list {
  float: left;
  width: 240px;
}
.slider-servis-img {
  float: right;
  width: 620px;
}
.about {
  margin-bottom: 85px;
}
.about-us {
  float: left;
  width: 540px;
}
.map {
  float: right;
  width: 330px;
}
/*для картинок - высота  -авто, ширина в %*/
.modal-content {
  position: absolute;
  width: 620px;
  border-top: 7px solid #ee3643;
  background: #ffffff;

  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.7);
}
.modal-content-form {
  margin: 40px 80px;
}
.write-us-top {
  margin-bottom: 25px;

}

.footer-top {
  background-color: #32425c;
}
.footer-contacts {
  float: left;
  width: 380px;
}
.footer-nav {
  float: right;
  width: 550px;
}
.nav-pages li {
  display: inline;
  list-style: none;
}
.nav-catalog li {
  display: inline;
  list-style: none;
}
.footer-bottom {
  background-color:#293449;
}
.copyright {
  float: left;
  width: 240px;
}
.social {
  float: left;
  width: 150px;
}
.feedback {
  float: right;
  width: 300px;
}
/*
.feedback p {
  float: right;
}
*/
.user-block {
  text-align: right;
}
.user-list {
  display: inline;
  list-style: none;
}
.breadcrumbs {
  margin-bottom: 55px;
}
.breadcrumbs li {
  display: inline;
  list-style: none;
}
.h1 {
  margin-bottom: 65px;
}
.filters {
  float: left;
  width: 220px;
}
.catalog-page {
  float: right;
  width: 700px;
  margin-bottom: 125px;
}
.fill {
  background-color: #ee3643;
}
.sort-row {
  margin-bottom: 25px;
}
.sotr-type {
  float: right;
  margin: 0;
  padding: 0;
}
.sotr-type li {
  display: inline;
  list-style: none;
}
.catalog-item-pan {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 0;
  margin-left: -10px;
  margin-right: -10px;
}
.catalog-item-grid {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 33.3%;
  padding-left: 10px;
  padding-right: 10px;
}

.paginator {
  margin-top: 50px;
}
.about-perfor {
  margin-bottom: 70px;
}
